.table-head{
    font-size: 15px !important;
    font-weight: bold !important;
    color: #219E8F !important;
  }

.clients-page{
    margin: 50px;
  }

.table-config{
    display: flex;
    justify-content: space-between;
}
.clients-filter{
  margin-left: 15px;
}

.column-filter{
  margin-top: 20px;
}

.navbar-link{
  margin-left: 57px;
}


