*{
    font-family: Montserrat;
}
.popup-comp{
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
}

.popup-window {
    position: absolute;  
    padding:10px;
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    width: 400px;
    height: 150px;
    margin: auto;  
    font-size: 16px;
    border-radius: 10px;  
    background: #EAC563;  
    display:flex;
    flex-direction: column;
    justify-content: center;
  }


#close-btn{
    color:#BC4B51;
    margin-left: calc(100% - 20px);
}

#update-btn{
    width: 100px;
    color: #1c8276;
    font-weight: bold;
}

#declare-btn{
    margin-left: 80px;
    color: #1c8276;
    font-weight: bold;
    width: 130px;
}

.popup-content{
    line-height: 50px;
}

.label-popup{
    width: 150px !important;
    margin-left: 20%;
}

.input-popup{
    display: inline-block !important;
    flex-direction: column;
    float: right;
    margin-right: 20%;
    margin-top: 15px;
    width: 150px;
    height: 40%;
    border-radius: 5px;
    border: none;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 15px;
 }
 
 